<%- include('../partials/header.ejs') %>
    <legend class="title-principal">New Person</legend>

    <form class="table-generic" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Digit your name">
        </div>
        <div class="form-group">
            <label for="date">Birth Day</label>
            <input type="text" class="form-control" id="birth_day" name="birth_day" placeholder="2019-12-06">
        </div>
        <div class="form-group">
            <label for="career">Career</label>
            <input type="text" class="form-control" id="career" name="career" placeholder="Digit your career">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a type="button" class="btn btn-danger" href="/persons">Cancel</a>
    </form>
<%- include('../partials/footer.ejs') %>